[submodule "source_level_linker"]
	path = .submods/source_level_linker
	url = git@github.com:guenther-brunthaler/source_level_linker-cj6qkzi92umbg3jwb5slxhwlh.git
	branch = source_level_linker-cj6qkzi92umbg3jwb5slxhwlh
[submodule "snippets_sh_generic"]
	path = .submods/snippets_sh_generic
	url = git@github.com:guenther-brunthaler/snippets_sh_generic-ag0e7shzq1rsmriq8exv27c60.git
	branch = snippets_sh_generic-ag0e7shzq1rsmriq8exv27c60
[submodule "snippets_sh_with_awk"]
	path = .submods/snippets_sh_with_awk
	url = git@github.com:guenther-brunthaler/snippets_sh_with_awk-bnmuyfmzwhdbz5tpsqt3ugz20.git
	branch = snippets_sh_with_awk-bnmuyfmzwhdbz5tpsqt3ugz20
[submodule "snippets_awk_varint"]
	path = .submods/snippets_awk_varint
	url = git@github.com:guenther-brunthaler/snippets_awk_varint-adnqxbnrfclpi7g3y7zn26m1h.git
	branch = snippets_awk_varint-adnqxbnrfclpi7g3y7zn26m1h
